.aboutSection {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 4fr;
      grid-template-columns: 4fr 4fr;
}

.aboutSectionGradient {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#4e51ff), to(#4a89bd));
  background-image: linear-gradient(to bottom right, #4e51ff, #4a89bd);
}

.aboutSectionContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  width: 80vw;
  height: 80vh;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.192);
          box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.192);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutSectionContainer > h1 {
  font: 400 3vmax "Roboto";
  color: tomato;
  margin: 2vmax;
}

.aboutSectionContainer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.aboutSectionContainer > div > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vmax;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aboutSectionContainer > div > div > p {
  color: rgba(0, 0, 0, 0.623);
  font: 100 1vmax "Roboto";
}

.aboutSectionContainer > div > div > button {
  margin: 1vmax 0;
}

.aboutSectionContainer > div > div > span {
  font: 100 1vmax "Roboto";
  color: rgba(0, 0, 0, 0.616);
  text-align: center;
  width: 80%;
}

.aboutSectionContainer2 {
  border-left: 1px solid rgba(0, 0, 0, 0.116);
}

.aboutSectionContainer2 > h2 {
  color: rgba(0, 0, 0, 0.623);
  font: 100 2vmax "Roboto";
  margin: 2vmax;
}

.aboutSectionContainer2 > a > svg {
  font-size: 4vmax;
}

.twitterSvgIcon {
  color: blue;
}

.gitHubSvgIcon {
  color: black;
}

/*
 ______________________________________________
|                                              |
|            MEDIA QUERIES CSS                 |
|______________________________________________|
*/
@media screen and (max-width: 600px) {
  .aboutSectionContainer > div {
    display: block;
  }
  .aboutSectionContainer > h1 {
    font: 400 5vmax "Roboto";
    margin: 3vmax;
  }
  .aboutSectionContainer > div > div > p {
    font: 100 2vmax "Roboto";
  }
  .aboutSectionContainer > div > div > span {
    font: 100 1.4vmax "Roboto";
    width: 70%;
  }
  .aboutSectionContainer2 {
    border-left: none;
  }
  .aboutSectionContainer2 > h2 {
    font: 100 3vmax "Roboto";
    margin: 2vmax;
  }
  .aboutSectionContainer2 > a > svg {
    font-size: 6vmax;
    margin: 1vmax;
  }
}
/*# sourceMappingURL=About.css.map */