@mixin flexProp($drxn, $align, $justify) {
  display: flex;
  flex-direction: $drxn;
  align-items: $align;
  justify-content: $justify;
}

@mixin colorFont($color, $font) {
  color: $color;
  font: $font;
}

.dashboard {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;

  .dashboardContainer {
    border-left: 1px solid rgba(0, 0, 0, 0.13);
    background-color: rgb(255, 255, 255);
    padding: 3rem 0;

    > h1 {
      text-align: center;
      width: 50%;
      padding: 1.5rem;
      margin: auto;
      @include colorFont(rgba(0, 0, 0, 0.733), 300 2rem "Roboto");
    }

    .dashboardSummary {
      margin: 2rem 0;

      > div {
        background-color: white;
        @include flexProp(row, normal, center);

        > p {
          background-color: rgba(70, 117, 218, 0.932);
          text-align: center;
          padding: 1.5rem;
          width: 100%;
          margin: 0 2rem;
          @include colorFont(white, 300 1.3rem "Roboto");
        }
      }
    }

    .dashboardSummaryBox2 {
      flex-wrap: wrap;
      @include flexProp(row, center, space-around);

      > a {
        text-align: center;
        background-color: rgb(255, 233, 174);
        text-decoration: none;
        padding: 1.5rem;
        width: 10vmax;
        height: 10vmax;
        margin: 2rem;
        border-radius: 100%;
        @include colorFont(rgb(0, 0, 0), 300 1.5rem "Roboto");
        @include flexProp(column, center, center);

        &:first-child {
          background-color: rgb(255, 110, 110);
          color: rgb(255, 255, 255);
        }

        &:last-child {
          background-color: rgb(51, 51, 51);
          color: rgb(255, 255, 255);
        }
      }
    }
  }

  .lineChart {
    width: 80%;
    margin: auto;
  }

  .doughnutChart {
    width: 30vmax;
    margin: auto;
  }
}

/*
 ______________________________________________
|                                              |
|            MEDIA QUERIES CSS                 |
|______________________________________________|
*/


@media screen and (max-width: 600px) {
  .dashboard {
    grid-template-columns: 1fr;

    .dashboardContainer {
      border-left: none;
    }

    .dashboardSummary > div > p {
      margin: 0;
    }

    .dashboardSummaryBox2 > a {
      padding: 0.5rem;
      margin: 1rem;
      font: 300 0.9rem "Roboto";
    }
  }
}
