.orderSuccess {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    font-size: 7vmax;
    color: tomato;
  }

  > p {
    font-size: 2vmax;
  }

  > a {
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    padding: 1vmax 3vmax;
    cursor: pointer;
    font: 400 1vmax "Roboto";
    text-decoration: none;
    margin: 2vmax;
  }
}


/*
 ______________________________________________
|                                              |
|            MEDIA QUERIES CSS                 |
|______________________________________________|
*/


@media screen and (max-width: 600px) {
  .orderSuccess {
    > a {
      padding: 3vw 6vw;
      font: 400 4vw "Roboto";
      margin: 2vmax;
    }

    > svg {
      font-size: 20vw;
    }

    > p {
      margin: 2vmax;
      font-size: 5vw;
    }
  }
}
