body {
  background-color: white;
}

.ProductDetails {
  width: 100wh;
  max-width: 100%;
  padding: 6vmax;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
}

.ProductDetails > div {
  width: 100%;
  padding: 2vmax;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ProductDetails div:last-child {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ProductDetails .CarouselImage {
  width: 20vmax;
}

.ProductDetails .detailsBlock-1 h2 {
  color: #363636;
  font: 600 1.6vmax "Roboto";
}

.ProductDetails .detailsBlock-1 p {
  color: rgba(54, 54, 54, 0.782);
  font: 200 0.8vmax cursive;
}

.ProductDetails .detailsBlock-2 {
  width: 70%;
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  padding: 1vmax 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ProductDetails .detailsBlock-2 span {
  color: rgba(54, 54, 54, 0.782);
  font: 200 0.8vmax cursive;
}

.ProductDetails .detailsBlock-3 {
  width: 70%;
}

.ProductDetails .detailsBlock-3 h1 {
  color: rgba(17, 17, 17, 0.82);
  font: 400 1.8vmax "Franklin Gothic Medium";
  margin: 1vmax 0;
}

.ProductDetails .detailsBlock-3 p {
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  padding: 1vmax 0;
  margin: 1vmax 0;
  color: rgba(0, 0, 0, 0.651);
  font: 400 1vmax "Roboto";
}

.ProductDetails .detailsBlock-3 .detailsBlock-3-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
}

.ProductDetails .detailsBlock-3 .detailsBlock-3-1 .detailsBlock-3-1-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ProductDetails .detailsBlock-3 .detailsBlock-3-1 .detailsBlock-3-1-1 .button {
  color: white;
  width: 3vmax;
  height: 34px;
  min-width: 5vmax;
  border-radius: 0.5vmax;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 0.5vmax;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.ProductDetails .detailsBlock-3 .detailsBlock-3-1 .detailsBlock-3-1-1 .button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}

.ProductDetails .detailsBlock-3 .detailsBlock-3-1 .detailsBlock-3-1-1 input {
  border: none;
  background-color: white;
  padding: 1vmax;
  width: 1vmax;
  height: 8px;
  text-align: center;
  outline: none;
  color: rgba(0, 0, 0, 0.72);
  font: 400 1.2vmax "Roboto";
}

.ProductDetails .detailsBlock-3 .detailsBlock-3-1 > .button:last-child {
  border-radius: 20px;
  margin: 1vmax;
  border: none;
  outline: none;
  background-color: tomato;
  padding: 0.9vmax 2vmax;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
  font: 500 0.9vmax "Roboto";
}

.ProductDetails .detailsBlock-3 .detailsBlock-3-1 > .button:last-child:hover {
  background-color: #d6543d;
}

.ProductDetails .detailsBlock-4 {
  color: rgba(0, 0, 0, 0.897);
  font: 500 1.2vmax "sans-serif";
}

.ProductDetails .detailsBlock-4 p {
  color: rgba(0, 0, 0, 0.534);
  font: 300 0.8vmax "sans-serif";
}

.ProductDetails .submitReview {
  border-radius: 20px;
  margin: 1vmax 0vmax;
  border: none;
  outline: none;
  background-color: tomato;
  padding: 0.9vmax 2vmax;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
  font: 500 0.9vmax "Roboto";
}

.ProductDetails .submitReview:hover {
  background-color: #d6543d;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.reviewsHeading {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  padding: 1vmax;
  width: 20vmax;
  margin: auto;
  margin-bottom: 4vmax;
  color: #161616;
  font: 500 1.5vmax "Roboto";
}

.reviewCard {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
  border: 1px solid rgba(56, 56, 56, 0.116);
  width: 30vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1vmax auto;
  padding: 3vmax;
}

.reviewCard img {
  width: 5vmax;
}

.reviewCard p {
  color: rgba(0, 0, 0, 0.863);
  font: 600 0.9vmax "Roboto";
}

.reviewCard span {
  color: rgba(0, 0, 0, 0.863);
  font: 500 0.7vmax cursive;
}

.noReviews {
  color: rgba(0, 0, 0, 0.589);
  font: 500 1.3vmax "Gill Sans";
  text-align: center;
}

/*
 ______________________________________________
|                                              |
|            MEDIA QUERIES CSS                 |
|______________________________________________|

*/
@media screen and (max-width: 600px) {
  .ProductDetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
  }
  .ProductDetails div:last-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ProductDetails .detailsBlock-1 h2 {
    font-size: 2.8vmax;
    text-align: center;
  }
  .ProductDetails .detailsBlock-1 p {
    text-align: center;
    font-size: 1vmax;
    margin: 1vmax 0vmax;
  }
  .ProductDetails .detailsBlock-2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ProductDetails .detailsBlock-2 span {
    font-size: 1.5vmax;
  }
  .ProductDetails .detailsBlock-3 h1 {
    font: 700 3vmax "Franklin Gothic Medium";
    text-align: center;
  }
  .ProductDetails .detailsBlock-3 p {
    padding: 2.5vmax 0;
    text-align: center;
    font: 400 2vmax "Roboto";
  }
  .ProductDetails .detailsBlock-3 .detailsBlock-3-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ProductDetails .detailsBlock-3 .detailsBlock-3-1 .button:last-child {
    font: 500 1.7vmax "Roboto";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }
  .ProductDetails .detailsBlock-3 .detailsBlock-3-1 .detailsBlock-3-1-1 {
    padding: 2vmax 0;
  }
  .ProductDetails .detailsBlock-3 .detailsBlock-3-1 .detailsBlock-3-1-1 .button {
    padding: 1.2vmax;
    width: 4vmax;
  }
  .ProductDetails .detailsBlock-3 .detailsBlock-3-1 .detailsBlock-3-1-1 input {
    padding: 1.5vmax;
    width: 3vmax;
    font: 400 1.8vmax "Roboto";
  }
  .ProductDetails .detailsBlock-4 {
    font: 500 2.5vmax sans-serif;
  }
  .ProductDetails .detailsBlock-4 p {
    font: 300 1.8vmax sans-serif;
  }
  .ProductDetails .submitReview {
    font: 500 1.7vmax "Roboto";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }
}
/*# sourceMappingURL=ProductDetails.css.map */