.sidebar {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}

.sidebar > a:first-child {
  padding: 0;
}
.sidebar > a > img {
  width: 100%;
  transition: all 0.5s;
}

.sidebar > a > img:hover {
  filter: drop-shadow(0 0 10px tomato);
}
.sidebar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.493);
  font: 200 1rem "Roboto";
  padding: 2rem;
  transition: all 0.5s;
}
.sidebar a:hover {
  color: tomato;
  transform: scale(1.1);
}

.sidebar a > P {
  display: flex;
  align-items: center;
}
.sidebar a > p > svg {
  margin-right: 0.5rem;
}

.MuiTypography-root {
  background-color: #fff !important;
}

.MuiTreeItem-content {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.493) !important;
  font: 200 1rem "Roboto" !important;
  padding: 2rem !important;
  transition: all 0.5s !important;

  &:hover {
  color: tomato !important;
  transform: scale(1.1);
}
}

.MuiTreeItem-iconContainer svg {
    font-size: 2rem !important;
}

.MuiTreeItem-label {
    width: 67% !important;
}

/*
 ______________________________________________
|                                              |
|            MEDIA QUERIES CSS                 |
|______________________________________________|
*/

@media screen and (max-width: 600px) {
.sidebar {
    align-content: center;
    justify-content: center;
    align-items: center;
}
}

