.forgotPasswordContainer {
  max-width: 100%;
  background-color: #e7e7e7;
  top: 0%;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forgotPasswordContainer .forgotPasswordBox {
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  width: 25vw;
  height: 40vh;
}

.forgotPasswordContainer .forgotPasswordBox .forgotPasswordHeading {
  text-align: center;
  padding: 1.3vmax;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 50%;
  margin: auto;
  color: rgba(0, 0, 0, 0.664);
  font: 400 1.3vmax "Roboto";
}

.forgotPasswordContainer form {
  margin: auto;
  padding: 2vmax;
  height: 70%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.forgotPasswordContainer form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  width: 100%;
}

.forgotPasswordContainer form div input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 1vmax cursive;
  outline: none;
}

.forgotPasswordContainer form div svg {
  position: absolute;
  -webkit-transform: translateX(1vmax);
          transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.forgotPasswordContainer form .forgotPasswordBtn {
  border: none;
  background-color: tomato;
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  color: white;
  font: 300 0.95vmax "Roboto";
}

.forgotPasswordContainer form .forgotPasswordBtn:hover {
  background-color: #b3422e;
}

/*
 ______________________________________________
|                                              |
|            MEDIA QUERIES CSS                 |
|______________________________________________|

*/
@media screen and (max-width: 600px) {
  .forgotPasswordContainer {
    background-color: white;
  }
  .forgotPasswordContainer .forgotPasswordBox {
    width: 100vw;
    height: 95vh;
  }
  .forgotPasswordContainer .forgotPasswordBox form {
    padding: 5vmax;
  }
  .forgotPasswordContainer .forgotPasswordBox form div input {
    padding: 2.5vmax 5vmax;
    font: 300 1.9vmax cursive;
  }
  .forgotPasswordContainer .forgotPasswordBox form div svg {
    font-size: 2.8vmax;
  }
  .forgotPasswordContainer .forgotPasswordBox form a {
    font: 500 1.9vmax "Gill Sans";
  }
  .forgotPasswordContainer .forgotPasswordBox form .forgotPasswordBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
  .forgotPasswordContainer .forgotPasswordBox .forgotPasswordHeading {
    font: 400 2.3vmax "Roboto";
  }
}
/*# sourceMappingURL=ForgotPassword.css.map */