@mixin flexProp($drxn, $align, $justify) {
  display: flex;
  flex-direction: $drxn;
  align-items: $align;
  justify-content: $justify;
}

@mixin colorFont($color, $font) {
  color: $color;
  font: $font;
}

@mixin widHeigh($width, $height) {
  width: $width;
  height: $height;
}

.resetPasswordContainer {
  max-width: 100%;
  background-color: rgb(231, 231, 231);
  top: 0%;
  left: 0;
  @include widHeigh(100vw, 100vh);
  @include flexProp(row, center, center);

  .resetPasswordBox {
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
    @include widHeigh(25vw, 70vh);

    .resetPasswordHeading {
      text-align: center;
      padding: 1.3vmax;
      border-bottom: 1px solid rgba(0, 0, 0, 0.205);
      width: 50%;
      margin: auto;
      @include colorFont(rgba(0, 0, 0, 0.664), 400 1.3vmax "Roboto");
    }
  }

  form {
    margin: auto;
    padding: 2vmax;
    height: 70%;
    transition: all 0.5s;
    @include flexProp(column, center, space-evenly);

    div {
      @include flexProp(row, center, normal);
      width: 100%;

      input {
        padding: 1vmax 4vmax;
        padding-right: 1vmax;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.267);
        border-radius: 4px;
        font: 300 1vmax cursive;
        outline: none;
      }

      svg {
        position: absolute;
        transform: translateX(1vmax);
        font-size: 1.6vmax;
        color: rgba(0, 0, 0, 0.623);
      }
    }

    .resetPasswordBtn {
      border: none;
      background-color: tomato;
      width: 100%;
      padding: 0.8vmax;
      cursor: pointer;
      transition: all 0.5s;
      border-radius: 4px;
      outline: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
      @include colorFont(white, 300 0.95vmax "Roboto");

      &:hover {
        background-color: rgb(179, 66, 46);
      }
    }
  }

}

/*
 ______________________________________________
|                                              |
|            MEDIA QUERIES CSS                 |
|______________________________________________|

*/
@media screen and (max-width: 600px) {
  .resetPasswordContainer {
    background-color: white;

    .resetPasswordBox {
      @include widHeigh(100vw, 95vh);

      form {
        padding: 5vmax;

        div {
          input {
            padding: 2.5vmax 5vmax;
            font: 300 1.9vmax cursive;
          }

          svg {
            font-size: 2.8vmax;
          }
        }

        a {
          font: 500 1.9vmax "Gill Sans";
        }

        .resetPasswordBtn {
          font: 300 1.9vmax "Roboto";
          padding: 1.8vmax;
        }
      }
    }

 }

 .resetPasswordContainer .resetPasswordBox .resetPasswordHeading {
  font: 400 2.3vmax "Roboto";
}
}
