@mixin flexProp($drxn, $align, $justify) {
  display: flex;
  flex-direction: $drxn;
  align-items: $align;
  justify-content: $justify;
}

@mixin colorFont($color, $font) {
  color: $color;
  font: $font;
}

.productsHeading {
  margin: 2vmax auto;
  width: 15vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  padding: 2vmax;
  text-align: center;
  @include colorFont(rgba(0, 0, 0, 0.678), 500 1.5vmax "Roboto");
}

.container {
  flex-wrap: wrap;
  padding: 0 5vmax;
  min-height: 30vh;
  @include flexProp(row, normal, center);
}

.filterBox {
  width: 10vmax;
  position: absolute;
  top: 10vmax;
  left: 4vmax;

  .categoryBox {
    padding: 0%;

    .category-link {
      list-style: none;
      margin: 0.4vmax;
      cursor: pointer;
      transition: all 0.5s;
      @include colorFont(rgba(0, 0, 0, 0.61), 400 1vmax "Roboto");

      &:hover {
        color: tomato;
      }
    }
  }

  .MuiTypography-body1 {
    font-size: 0.8rem !important;
    line-height: 1.2 !important;
  }

  fieldset{
    border: 1px solid rgba(0, 0, 0, 0.329);
    padding: 0 1vmax;
    margin-top: 1vmax;
    margin-bottom: 1vmax;
  }
}

.paginationBox {
  @include flexProp(row, normal, center);
  margin: 6vmax;

  .pagination {
    @include flexProp(row, normal, center);
    padding: 0;

    .page-item {
      background-color: rgb(255, 255, 255);
      list-style: none;
      border: 1px solid rgba(0, 0, 0, 0.178);
      padding: 1vmax 1.5vmax;
      transition: all 0.3s;
      cursor: pointer;

      &:first-child {
        border-radius: 5px 0 0 5px;
      }

      &:last-child {
        border-radius: 0 5px 5px 0;
      }

      .page-link {
        text-decoration: none;
        @include colorFont(rgb(80, 80, 80), 400 1.3vmax "Roboto");
      }

      &:hover {
        background-color: rgb(230, 230, 230);
        .page-link {
          color: rgb(80, 80, 80);
        }
      }
    }

    .pageItemActive {
      background-color: tomato;

      .pageLinkActive {
        color: white;
      }
    }
  }
}

/*
 ______________________________________________
|                                              |
|            MEDIA QUERIES CSS                 |
|______________________________________________|
*/

@media screen and (max-width: 600px) {
  .filterBox {
    width: 20vmax;
    position: static;
    margin: auto;
  }
  .paginationBox .pagination .page-item .page-link {
    font: 300 1.7vmax "Roboto";
  }

  .filterBox .categoryBox .category-link {
    font: 400 1.8vmax "Roboto";
  }
}
